<!DOCTYPE html>
<html lang="sv">
  <head>


    <meta charset="UTF-8">
    <title>Olympic app</title>

    <!-- External CSS -->
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <!-- Own CSS -->
    <link rel="stylesheet" type="text/css" href="/css/style.css">

    <!-- Scripts -->
    <script type="text/javascript" src=""></script>


  </head>
  <body>


    <!-- Header -->
    <header id="site-header">
      <div class="navbar navbar-inverse">
        <div class="container">
          <div class="navbar-header">

            <a href="/" class="navbar-brand">Olympic events</a>

          </div>
        </div>
      </div>
    </header>

    <!-- Main -->
    <main id="site-main">
      <div class="container">

        <%- body %>

      </div>
    </main>


    <!-- Footer -->
    <footer id="site-footer">

        Copyright &copy; 2016 Olympics

    </footer>


  </body>
</html>